:root {
    --bg-overlay-color: 4, 3, 17;
    --light-font-color: #eee;
    --font-family: 'Saira', sans-serif;
    --bg-blur: 10px;
}

body {
    height: 100vh;
    width: 100vw;

    font-family: var(--font-family);
    font-weight: 200;

    background: rgba(var(--bg-overlay-color), 1.0);

    overflow-x: hidden;
}

h2 {
    font-size: 5rem;
    line-height: 1.45em;
    max-height: 1.45em;
    overflow: hidden;

    perspective: 8em;
    perspective-origin: center;
    transform-style: preserve-3d;
}

#section-1 {
    position: relative;
    height: 200vh;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
}

#section-2 {
    position: relative;
    height: 50vh;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
    padding: 7.5em 3em 3em 3em;
    background: var(--bg-overlay-color);
}

@media screen and (min-width: 992px) {
    #section-1 .content {
        padding-left: 30%;
    }
}

#section-1 h2 {
    color: var(--light-font-color);
    text-shadow: 0 0 20px #000;
    animation: paragraph-intro 500ms ease-out backwards;
    max-width: 10ch;
}

#section-1 h2:first-of-type {
    font-weight: 400;
}

#section-1 h2:nth-of-type(1) {
    animation-delay: 500ms;
}

#section-1 h2:nth-of-type(2) {
    animation-delay: 700ms;
}

#section-1 h2:nth-of-type(3) {
    animation-delay: 900ms;
}

#section-1 .bg-image {
    --blur: blur(3px);
    position: absolute;
    z-index: -1;
    
    /* Fill whole section */
    height: calc(100% + 10px * 2);
    width: calc(100% + 10px * 2);
    
    /* Setupo background image */
    background: url(./assets/me_large.jpg);
    background-size: cover;
    background-position: center;

    /* Prevent white edges because of blur */
    margin: -10px;

    /* Blur the image */
    filter: var(--blue);
    -webkit-filter: var(--blur);
    -o-filter: var(--blur);
    -ms-filter: var(--blur);
}

#section-1::after {
    content: '';
    position: absolute;
    z-index: -1;

    /* Fill whole section */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(var(--bg-overlay-color), 0.8);
}

#section-1 .bg-color {
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50%;
    background: rgba(var(--bg-overlay-color), 1.0);
}

#section-1 .bg-color::after {    
    position: absolute;
    content: '';
    z-index: 0;
    left: 0;
    right: 0;
    top: -50%;
    height: 50%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(var(--bg-overlay-color)) 100%);
}

.content {
    position: relative;
    padding: 7.5em 0em 0em 3em;
}

@keyframes paragraph-intro {
    0% {
        transform: translateY(0.25em) rotateY(-35deg) scale(1.2);
        opacity: 0;
    }
    100% {
        transform: translateY(0em) rotateY(0deg) scale(1.0);
        opacity: 1;
    }
}

.trigger {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

.trigger div {
    flex: 1;
}

.content.second h2 p:nth-child(1) {
    display: none;
}

.content.second h2:nth-child(1) p:nth-child(1) {
    display: block;
}

.content.second h2 p:nth-child(2) {
    display: block;
    opacity: 0;
    transform: translateY(0.25em) rotateY(-35deg) scale(1.2);
}


.hexagon {
    filter: drop-shadow( 18px 0px 4px rgba(0, 0, 0, .25));
    transform: rotateZ(90deg);
    margin-left: -10px;
}

.hexa-grid {
    position: absolute;
    mix-blend-mode: multiply;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex-shrink: 0;
    flex-grow: 0;
    z-index: 0;
}

.hexa-row {
    display: flex;
    flex-direction: row;
    margin-top: -22px;

    position: relative;
    z-index: -1;
}

.hexa-row:nth-child(2n) {
    margin-left: 45px;
}

.hexagon:hover {
    transform: scale(1.1) rotateZ(90deg);
    background-blend-mode: overlay;
    z-index: 1;
    transition: .1s;
}

.hexagon:hover polygon {
    fill: violet;
}