:root {
    --bg-overlay-color: 4, 3, 17;
    --light-font-color: #eee;
    --font-family: 'Saira', sans-serif;
    --bg-blur: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: var(--font-family);
    font-weight: 200;
    overflow-x: hidden;
}

.wrapper {
    width: 100%;
    max-width: 1920px;
}

#section-1 {
    position: relative;
    height: 100vh;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

.technology-map {
    position: relative;
    font-size: 6.25rem;
    width: min(100vw + 0.5em, 7em);
    overflow: hidden;
    height: 9em;
}

.content .technology-map {
    display: none;
}

.background .technology-map {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1) translateX(-0.5em);
}

.logo-hexagon {
    position: absolute;
}

.hex-size-small {
    width: 1em;
    height: auto;
}

.hex-size-medium {
    width: 2.2em;
    height: auto;
}

.hex-size-large {
    width: 3.5em;
    height: auto;
}

#logo-terraform {
    inset: 0.125em 0 0 1.25em;
}

#logo-graphql {
    inset: 0.125em 0 0 2.25em;
}

#logo-cpp {
    inset: 0.95em 0 0 1.125em;
}

#logo-golang {
    inset: 2.7em 0 0 0em;
}

#logo-angular {
    inset: 2.7em 0 0 2.25em;
}

#logo-dotnet {
    inset: 4.5em 0 0 0.475em;
}

#logo-react {
    inset: 0.025em 0 0 3.25em;
}

#logo-azure {
    inset: 4.5em 0 0 3.75em;
}

.background {
    position: absolute;
    inset: 0 0 0 0;
}

.background::after {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(11px);
}

.content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
}

.name-box {
    position: relative;
    width: fit-content;
    align-self: center;
    justify-self: center;
    grid-column: 1 / 3;
    
    border-radius: 1em;
    border: 1px solid rgba(0, 0, 0, .15);
    background: rgba(255, 255, 255, 0.5);
    padding: 2em 1em 2em 1em;
}

.name-box .middle-name {
    display: none;
}

@media only screen and (min-width: 992px) {

    .name-box {
        grid-column: 2;
        border: none;
        background: none;
        padding: unset;
    }

    .content .technology-map {
        display: block;
    }

    .background .technology-map {
        transform: scale(1.25);
    }

    .name-box .middle-name {
        display: inline;
    }

    .background::after {
        background: rgba(255, 255, 255, 0.3);
    }
}

/* SECTION 2 */

#section-2 {
    display: grid;
    grid-auto-rows: min-content;
    justify-items: center;
    padding-bottom: 2em;
    row-gap: 3em;
}

.timebox {
    position: relative;
    border: 1px solid rgb(220, 220, 220);
    background-color: rgba(250, 249, 255, 1.0);
    width: calc(100% - 2em);
    margin: 0 1em;
    max-width: 1272px;
    min-height: 10em;
    border-radius: 13px;
}

.timebox::before {
    --width: 0.75em;
    content: '';
    top: 0;
    position: absolute;
    width: var(--width);
    height: var(--width);
    border-radius: 1em;
    background-color: rgba(81, 43, 212, 1.0);
    z-index: 1;
    transform: translateY(-50%);
    left: calc(50% - var(--width) / 2);
    box-shadow: 0 0 0 5px rgba(81, 43, 212, .2);
}

.timebox::after {
    --height: 3.1em;
    content: '';
    position: absolute;
    top: 0;
    width: 1px;
    height: var(--height);
    border-radius: 1em;
    background-color: rgb(121, 121, 121);
    z-index: 1;
    transform: translateY(calc(-1 * var(--height)));
    left: calc(50% - 0.5px);
    z-index: -1;
}

.timebox .timebox-content {
    position: relative;
    padding: 1em 2em;
}

.timebox .timebox-date {
    position: relative;
    transform: translateY(-50%);
    inset: auto auto auto 3em;
    display: inline-block;
    font-weight: 600;
}

.timebox-background {
    position: absolute;
    inset: 0 0 0 0;
    overflow: hidden;
}

.timebox-background::after {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background-color: rgba(250, 249, 255, .8);
    backdrop-filter: blur(5px);
    border-radius: 13px;
}

.timebox-background img {
    height: 80%;
    position: absolute;
    inset: 50% 0 0 auto;
    transform: translateX(40%) translateY(-50%);
    object-fit: contain;
}

#section-2 .timebox:first-of-type::after {
    --height: 2em;
}